:root { 
--gray_700:#565555; 
--gray_800:#383838; 
--red_200:#ceaf81; 
--deep_purple_400:#864fd4; 
--red_500:#fc2f2f; 
--black_900_3f:#0000003f; 
--gray_300:#e6e6e6; 
--amber_A400:#ffcc00; 
--green_400:#5fb084; 
--white_A700_cc:#ffffffcc; 
--indigo_A700:#3547ea; 
--black_900:#000000; 
--indigo_900:#00228d; 
--blue_gray_900:#2e2c2c; 
--gray_900_0f:#080f340f; 
--white_A700:#ffffff; 
--red_500_01:#ff4444; 
}